<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Gnuplot</string>
	<key>ordering</key>
	<array>
		<string>13D0F1C4-078F-4E31-B629-6DB4FF0A6BD8</string>
		<string>799B68E9-5DA3-41CC-BC70-76B1D1C83DB6</string>
		<string>C52932A5-F7DA-46DF-9A1D-B8EE0DFE1A58</string>
	</array>
	<key>uuid</key>
	<string>25D8CE9D-424D-4355-B326-FFE342C55FC3</string>
</dict>
</plist>
